{
  "printWidth": 100, 
  "tabWidth": 4, 
  "useTabs": false,
  "semi": true, 
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto", 
  "proseWrap": "never"
}